*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Prompt', sans-serif;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #2b9348; */
    font-style: italic;
    background: url(../casa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    font-weight: 800;
    color: #f9f7f3;
    text-shadow: 1px 3px 5px rgba(0,0,0,0.9);
}
table {
  border-radius: 5px;
  box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.6);
}
.container {
    height: 40rem;
    width: 40rem;
    margin: 2rem;
    background-color: #f9f7f338;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.48);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.48);
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.48);
}
.animar {
    animation: flotando  1500ms ease-in-out infinite;
}
.container-contenido {
    height: 60vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.inputs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.nueva-tarea {
    padding: 5px;
    height: 35px;
    border: none;
    font-weight: 700;
    color: #f9f7f3;
    background-color: #f9f7f3c5;
    border-radius: 2px;
}
td {
    font-weight: 700;
}


.fa-plus {
    height: 20px;
    padding: 5px;
    color: #f9f7f3;
}

.btn-eliminar {
    height: 30px;
    width: 50px;
    border: none;
    border-radius: 2px;
    background-color: #bf0603;
    cursor: pointer;
    color: #f9f7f3;
    font-size: 1.2rem;
    font-weight: bold;
}
.btn-eliminar:hover {
    background-color: #bf0603a8;
}
@media (max-width: 1024px) {
    body {
        background-size: cover;
        background-position: center;
        height: 100vh;
    }
    .container {
        height: 50rem;
        width: 40rem;

    }
    .container-contenido {
        height: 30vh;
        width: 100%;
    }
}
@media (max-width: 890px) {
    .container {
        height: 40rem;
        width: 40rem;

    }
    .container-contenido {
        height: 60vh;
        width: 100%;
    }
}

@keyframes flotando {

    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(1vh);
    }

    100% {
        transform: translateX(0vh);
    }
}

.input {
    max-width: 200px;
    height: 3.2rem;
    padding: 12px;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
    outline: none;
    color: black;
  }
  
  .input:invalid {
    animation: justshake 0.3s forwards;
  }
  
  @keyframes justshake {
    25% {
      transform: translateX(5px);
    }
  
    50% {
      transform: translateX(-5px);
    }
  
    75% {
      transform: translateX(5px);
    }
  
    100% {
      transform: translateX-(5px);
    }
  }
.tablaTareas{
    background-color: #f9f7f3c5;
}


















.button {
    height: 3.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #171717;
    padding: 1em 2em;
    border: none;
    border-radius: .6rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }
  
  .button span:not(:nth-child(6)) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
    background-color: #2b9348;
    border-radius: 50%;
    transition: .6s ease;
  }
  
  .button span:nth-child(6) {
    position: relative;
  }
  
  .button span:nth-child(1) {
    transform: translate(-7.7em, -2em);
  }
  
  .button span:nth-child(2) {
    transform: translate(-6em, 1.3em);
  }
  
  .button span:nth-child(3) {
    transform: translate(-.2em, 2.8em);
  }
  
  .button span:nth-child(4) {
    transform: translate(6.5em, 3.4em);
  }
  
  .button span:nth-child(5) {
    transform: translate(6.5em, -3.8em);
  }
  
  .button:hover span:not(:nth-child(6)) {
    transform: translate(-50%, -50%) scale(4);
    transition: 1.5s ease;
  }
    